.ganluren-nav {
    background-color: #0f0f0fbf;
    height: 75px;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header-logo {
    width: 200px;
    height: 100%;
    position: relative;
    left: 0px;
}

.header-logo img {
    width: 100%;
}

.header-tietle {

    position: relative;
    right: -500px;
    top: -40px;

}

.header-tietle ul li {

    list-style: none;
    float: online;
    display: inline-table;
    font-size: 20px;
    margin-right: 75px;

}

.header-tietle ul li a {
    color: white !important;
    text-decoration: none;
}